---
layout: single
toc: true
---
<h1>Education</h1>
<p>2018 &ndash; date: Master of Information Sciences <br />
  Graduate School of Information Sciences, Tohoku University <br />
  Advisor 乾 健太郎 / Kentaro Inui &amp; 鈴木 潤 / Jun Suzuki</p>
<p>2008 &ndash; 2013: Bachelor of Engineering <br />
  Department of Electrical and Electronic Engineering, The University of Zambia</p>

<h1>Publications</h1>
<p>Pride Kavumba, Naoya Inoue, Benjamin Heinzerling, Keshav Singh, Paul Reisert and Kentaro Inui. When Choosing Plausible
  Alternatives, Clever Hans can be Clever. To appear in Proceedings of COIN: COmmonsense INference in Natural Language
  Processing, pp. *-*, November 2019.</p>
  
  <p>Keshav Singh, Paul Reisert, Naoya Inoue, Pride Kavumba and Kentaro Inui. Improving Evidence Detection by
  Leveraging Warrants. To appear in Proceedings of FEVER: The Second Workshop on Fact Extraction and Verification , pp.
  *-*, November 2019.
  - paper
  </p>
  <p>Pride Kavumba, Naoya Inoue, Kentaro Inui. 
    Exploring Supervised Learning of Hierarchical Event Embedding with Poincaré Embeddings. 
    言語処理学会第25回年次大会, pp.217-220, March 2019.</p>


<h1>Awards</h1>
<p>2014 Airtel Zambia Ltd Award for outstanding performance in the Network Performance and Optimization department
  at The University of Zambia
</p>
<p>2014 Airtel Zambia Ltd Prize for best graduating student in Electronics and Telecommunications Engineering 
  at The University of Zambia
</p>
<p>2014 Airtel Zambia Ltd Prize for best graduating student in Electrical and Electronics 
  Engineering with the best final year project/thesis results
  at The University of Zambia</p>
<p>2012 Engineering Institute of Zambia (EIZ) award for best fourth year
   engineering student at The University of Zambia</p>
<p>2011 Engineering Institute of Zambia (EIZ) award for best third year 
  engineering student at The University of Zambia</p>